@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

/* Dark mode colors. */
:root {
    --sl-color-accent-low: #002c1c;
    --sl-color-accent: #007d57;
    --sl-color-accent-high: #9cd8bb;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #eeeeed;
    --sl-color-gray-2: #c8c8c8;
    --sl-color-gray-3: #a4a4a4;
    --sl-color-gray-4: #585858;
    --sl-color-gray-5: #383838;
    --sl-color-gray-6: #272727;
    --sl-color-black: #181818;
}
/* Light mode colors. */
:root[data-theme="light"] {
    --sl-color-accent-low: #b6e3cc;
    --sl-color-accent: #00563a;
    --sl-color-accent-high: #003d28;
    --sl-color-white: #181818;
    --sl-color-gray-1: #272727;
    --sl-color-gray-2: #383838;
    --sl-color-gray-3: #585858;
    --sl-color-gray-4: #8c8b8b;
    --sl-color-gray-5: #c2c2c2;
    --sl-color-gray-6: #eeeeed;
    --sl-color-gray-7: #f6f6f6;
    --sl-color-black: #ffffff;
}

@theme {
    /*
	Configure your Tailwind theme that will be used by Starlight.
	https://starlight.astro.build/guides/css-and-tailwind/#styling-starlight-with-tailwind
	*/
}

/*
Add additional Tailwind styles to this file:
https://tailwindcss.com/docs/adding-custom-styles#using-custom-css
*/

.sl-markdown-content hr {
    @apply [border-width:3px] -my-4 my-10;
}

.sl-markdown-content a {
    @apply font-bold no-underline;
}
